body.theme-blue {
  --color-brand: #047eff !important;

  --landing-green-label: #006da9 !important;
  --landing-green-label-bg: rgb(0 116 216 / 15%) !important;

  --color-brand-highlight: rgb(0 70 175 / 25%) !important;
  --color-brand-shadow: rgb(0 85 175 / 70%) !important;

  --landing-blue-label: #006da9 !important;
  --landing-blue-label-bg: rgb(0 116 216 / 15%) !important;
}

body.theme-blue
  .users-section-outer
  .users-section
  .feature-blob
  .blob-demonstration[data-v-826e3f53]:after {
  background: linear-gradient(0deg, #055fce, rgb(5 102 206 / 0%)) !important;
}

body.theme-blue .main-header-strong[data-v-826e3f53] {
  background-image: linear-gradient(180deg, #a7d0ff 0, var(--color-brand) 60%);
}

/* BLUE COMPLETED */

body.theme-blue * {
  --color-brand: #047eff !important;
}
