:root {
  --color-brand-green: #fab387 !important;

  --landing-green-label: #e97f00 !important;
  --landing-green-label-bg: rgb(249 162 0 / 15%) !important;

  --color-brand-highlight: rgb(175 121 0 / 25%) !important;
  --color-brand-shadow: rgb(255 183 72 / 70%) !important;

  --landing-blue-label: #e97f00 !important;
  --landing-blue-label-bg: rgb(249 162 0 / 15%) !important;
}

.users-section-outer .users-section .feature-blob .blob-demonstration[data-v-826e3f53]:after {
    background: linear-gradient(0deg,#ff8d00,rgba(5,206,69,0)) !important;
}

.main-header-strong[data-v-826e3f53] {
    background-image: linear-gradient(180deg,#ffcca7 0,var(--color-brand) 60%) !important;
}
/* PASTEL ORANGE COMPLETED */
