:root {
  --color-brand: #f9e2af !important;

  --landing-green-label: #dd9800 !important;
  --landing-green-label-bg: rgb(216 199 0 / 15%) !important;

  --color-brand-highlight: rgb(255 224 0 / 25%) !important;
  --color-brand-shadow: rgb(255 225 0 / 70%) !important;

  --landing-blue-label: #dd9800 !important;
  --landing-blue-label-bg: rgb(216 199 0 / 15%) !important;
}

.users-section-outer
  .users-section
  .feature-blob
  .blob-demonstration[data-v-826e3f53]:after {
  background: linear-gradient(0deg, #ffd400, rgba(5, 206, 69, 0)) !important;
}

.main-header-strong[data-v-826e3f53] {
  background-image: linear-gradient(
    180deg,
    #ffedc4 0,
    var(--color-brand) 60%
  ) !important;
}
/* PASTEL YELLOW COMPLETED */

* {
  --color-brand: #f9e2af !important;
}
