:root {
  --color-brand-green: #f38ba8 !important;

  --landing-green-label: #d90067 !important;
  --landing-green-label-bg: rgb(216 0 90 / 15%) !important;

  --color-brand-highlight: rgb(175 0 81 / 25%) !important;
  --color-brand-shadow: rgb(175 0 88 / 70%) !important;

  --landing-blue-label: #d90067 !important;
  --landing-blue-label-bg: rgb(216 0 90 / 15%) !important;
}

.users-section-outer .users-section .feature-blob .blob-demonstration[data-v-826e3f53]:after {
    background: linear-gradient(0deg,#ff0099,rgba(5,206,69,0)) !important;
}
.main-header-strong[data-v-826e3f53] {
    background-image: linear-gradient(180deg,#ffa7bf 0,var(--color-brand) 60%) !important;
}
/* PASTEL RED COMPLETED */
