:root {
  --color-brand-green: #d504ff !important;

  --landing-green-label: #8500a9 !important;
  --landing-green-label-bg: rgb(153 0 216 / 15%) !important;

  --color-brand-highlight: rgb(116 0 175 / 25%) !important;
  --color-brand-shadow: rgb(125 0 175 / 70%) !important;

  --landing-blue-label: #8500a9 !important;
  --landing-blue-label-bg: rgb(153 0 216 / 15%) !important;
}

.users-section-outer .users-section .feature-blob .blob-demonstration[data-v-826e3f53]:after {
    background: linear-gradient(0deg,#8105ce,rgb(103 5 206 / 0%)) !important;
}

.main-header-strong[data-v-826e3f53] {
    background-image: linear-gradient(180deg,#e1a7ff 0,var(--color-brand) 60%) !important;
}
/* PURPLE COMPLETED */
